Repository advanced-security/codeql-queries, pull requests merged in 2023-05, with the labels that each got.

#141 AWS Lambda Support
  extensions/codeql-csharp-extensions/models/Amazon.Lambda.yml
  extensions/codeql-csharp-extensions/qlpack.yml
Labels: csharp

#148 [GO] - Enhance go/command-injection to only consider in-use sources (net.http handler use case)
  go/CWE-078/CommandInjection.ql
  go/codeql-pack.lock.yml
  go/qlpack.yml
  tests/go-tests/CWE-078/cmdi.expected
  tests/go-tests/CWE-078/cmdi.qlref
  tests/go-tests/CWE-078/go.mod
  tests/go-tests/CWE-078/main.go
  tests/go-tests/qlpack.yml
Labels: go

#152 [JS] Add Weak Hashing Algorithm query
  javascript/CWE-328/WeakHashingAlgorithm.md
  javascript/CWE-328/WeakHashingAlgorithm.ql
  tests/javascript-tests/CWE-328/WeakHashingAlgorithm.expected
  tests/javascript-tests/CWE-328/WeakHashingAlgorithm.qlref
  tests/javascript-tests/CWE-328/weakcrypto.ts
Labels: javascript
